@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&family=Kavoon&family=Mulish&display=swap');

.rey{
    font-family: "Kavoon", serif;
    font-weight: 300;
    font-style: normal;
    color: #FFBB00;
  }
.burger{
    font-family: "Kavoon", serif;
    font-weight: 300;
    font-style: normal;
    color: #FF0900;
  }
  
.oferta{
background-color: #D4EEF4;
width: 100%;
height: 517px;
}

strong {
    font-family: "Mulish", sans-serif;
    font-optical-sizing: auto;
    font-size: 14px;
    font-style: bold;
    color:black;
  }
ul{
    gap: 26px;
}
.colorrojo{
    background-color: #EC0B43;
    border-radius: 30px;
    img {
        filter: invert(1);
    }
    strong {
        color: #D4EEF4;
    } 
}
ul li:hover{
    background-color: #EC0B43;
    border-radius: 30px;
img {
        filter: invert(1);
    }
    strong {
        color: #D4EEF4;
    } 
}
.red-stripe {
    position: absolute;
    top: 40%; 
    left: 0;
    height: 261px; 
    width: 100%;
img {
    width: 100%;
    height: 221px;
    };
}
nav{
    height: 99px;
}
.img-1{
    z-index: 10;
    position: absolute;
    top: -50%;
    left: 700px;
    width: 566.13px;
    height: 456.5px;  
img{
    width: 100%;
    height: 100%;
}
}
h1{
    position: absolute;
    font-family: "Kavoon", serif;
    font-size: 70px;
    left: 40px;
    top: 150px;
    color: #ECA400;
    text-shadow: -2px 4px 2px rgba(0,0,0,0.9);
}
.oferta a{
    position: absolute;
    padding: 10px 7px 5px;
    background-color: black;
    border-radius: 18px;
    color: #FFFFFF;
    font-family: "Kavoon", serif;
    font-size: 23px;
    left: 100px;
    top: 340px;
}
.menu{
    background-color: #FFFFFF;
    width: 100%;
    height: 715px;
.text-menu{
    font-family: "Kavoon", serif;
    font-size: 36px;
    margin-top: 40px;
    margin-bottom: 40px;
    color: #2F2D2E;
    display: flex;
    justify-content: center;
}

}

.menu1 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 130px;
    justify-content: center;
    margin-top: 20px;
}
.item {
    background: #333;
    color: white;
    padding: 15px;
    border-radius: 10px;
    text-align: center;
    position: relative;
}
.item img {
    width: 200px;
    height: 170px;
    position: absolute;
    top: 100px;
    left: 5%;
    transform: translateX(-50%);
}
.item h2 {
    font-family: "Kavoon", serif;
    font-size: 1.2em;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}
.item p {
    font-size: 0.9em;
    padding-left: 40px;
    padding-right: 10px;
    text-align: end;
}
.price {
    color: #ECA400;
    font-family: "Kavoon", serif;
    font-size: 1.5em;
    text-align: end;
    padding-right: 20px;
}
.container1 {
    max-width: 80%;
    margin: auto;
    
}
.promo1{
    margin-top: 30px;
    width: 100%;
    height: 271px;
    background-color: #F14A41;
img{
    padding-left: 80px;
    padding-top: 20px;
}
.p2{
font-family: "Kavoon", serif;
font-size: 30px;
color: white;
text-align: center;
text-shadow: -2px 4px 2px rgba(0,0,0,0.9);
position: absolute;
left: 520px;
transform: translateY(-200%);
}
.p3{
    font-family: "Kavoon", serif;
    font-size: 40px;
    color: #ECA400;
    -webkit-text-stroke: 1px white;
    text-shadow: -2px 4px 2px rgba(0,0,0,0.9);
    position: absolute;
    left: 780px;
    text-align: center;
    transform: translateY(-160%);
    }
a{
    background-color: #2F2D2E;
    padding: 5px;
    border-radius: 18px;
    color: #FFFFFF;
    font-family: "Kavoon", serif;
    width: 137px;
    height: auto;
    font-size: 14px;
    text-align: center;
    transform: translateX(670px);
    }
}
.ofertas{
    background-color:white;
    width: 100%;
    height: 408px;

.menu2-container{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 130px;
        justify-content: center;
        margin-top: 20px;
    }
.text-menu2{
        font-family: "Kavoon", serif;
        font-size: 36px;
        margin-top: 40px;
        margin-left: 90px;
        margin-bottom: 40px;
        color: #2F2D2E;
        display: flex;
        justify-content: left;
    }
}

.modal-content{
   background-color: #2F2D2E;
#modalTitle{
    font-family: "Kavoon", serif;
    color: #FFFFFF;
}
.btn-close{
    background-color: #ECA400;
}
.modal-footer button{
    font-family: "Kavoon", serif;
    background-color: #3FB43D;
    color: #FFFFFF;
}
.modal-body{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
#modalDescription{
    font-family: "Karla", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: #FDFFFC;
}
}
}

footer{
    background-color: #D4EEF4;
    width: 100%;
    height: 491px;
}

/*bebidad css*/
.main2{
    width: 100%;
    background-color: #D4EEF4;
    height: 100%;
p{ 
    font-family: "Kavoon", serif;
    font-size: 36px;
    padding-top: 40px;
    padding-bottom: 40px;
    color: #2F2D2E;
    display: flex;
    justify-content: center;
}
section{
    padding: 0px 100px 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
.card{
p{
    font-size: 6px;  
}
}
}
}

